* {
    background-color: lavender;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.time {
    text-align: center;
}

#start {
    height: 25px; 
    width:100px; 
    background-color: cyan
}